<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AMA_CC_Biñan_Campus_Library_Inventory_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AMA_CC_Biñan_Campus_Library_Inventory_System.My.MySettings.DB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\AMAInvDB.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <AMA_CC_Biñan_Campus_Library_Inventory_System.My.MySettings>
            <setting name="pass" serializeAs="String">
                <value>research2019-2020tvl</value>
            </setting>
        </AMA_CC_Biñan_Campus_Library_Inventory_System.My.MySettings>
    </applicationSettings>
</configuration>
